In [1]:
from datetime import date, datetime, time

# Date object
today = date.today()
print("Today is:", today)
print("Day:", today.day)
print("Month:", today.month)
print("Year:", today.year)

Today is: 2024-07-15
Day: 15
Month: 7
Year: 2024

In [2]:
# Formato en mayusculas para palabra completa
print(today.strftime("%A %d %B %Y"))

Monday 15 July 2024

In [3]:
# Formato en minusculas para abreviaturas
print(today.strftime("%a, %d %b %y"))

Mon, 15 Jul 24

In [4]:
# Formato mas formal
print(today.strftime("%A, %dth %B %Y"))

Monday, 15th July 2024

In [5]:
# Fecha en digitos
print(today.strftime("%D"))

07/15/24

In [6]:
next_year = today.replace(year=today.year + 1)
print(next_year)

2025-07-15

In [7]:
next_month = today.replace(month=today.month + 1)
print(next_month)

2024-08-15

In [8]:
next_day = today.replace(day=today.day + 1)
print(next_day)

2024-07-16

In [9]:
# Countdown to a specific date
next_year = today.replace(year=today.year + 1)
difference = abs(next_year - today)
# {place holder}
print("Only {} days until next year".format(difference.days))

Only 365 days until next year

In [10]:
# date(Y, m, d)
nikola_tesla = date(1856, 7, 10)
print("Nikola Tesla was born on:", nikola_tesla)

Nikola Tesla was born on: 1856-07-10

In [11]:
nikola_tesla = date.fromisoformat("1856-07-10")
print("Nikola Tesla was born on:", nikola_tesla)
# Monday is 0, Sunday is 6
print(f"Nikola Tesla was born on the {nikola_tesla.weekday()}rd day of the week")

Nikola Tesla was born on: 1856-07-10
Nikola Tesla was born on the 3rd day of the week

In [12]:
# Date and time object
now = datetime.now()
print("Right now is", now)

Right now is 2024-07-15 14:23:31.624329

In [13]:
now = datetime.now()
print("It's the {}th minute of the {}th hour of the {}th day of the {}th month".
      format(now.minute, now.hour, now.day, now.month))

It's the 23th minute of the 14th hour of the 15th day of the 7th month

In [14]:
# Specific time and date
chernobyl = datetime.fromisoformat("1986-04-26 01:23:40:000+04:00")
print("The nuclear disaster in Chernobyl ocurred on", chernobyl)
print(chernobyl.strftime("The nuclear disaster in Chernobyl ocurred on %A %B %dth, %Y at %X MSD(%Z)"))
print("MSD (timezone) is actually", chernobyl.tzinfo)

The nuclear disaster in Chernobyl ocurred on 1986-04-26 01:23:40+04:00
The nuclear disaster in Chernobyl ocurred on Saturday April 26th, 1986 at 01:23:40 MSD(UTC+04:00)
MSD (timezone) is actually UTC+04:00

In [24]:
# Time object
my_time = time(15, 33, 8)
time.fromisoformat("15:33:08-07:00")
print(my_time)
my_time = time.fromisoformat("15:33:08-07:00")
print(my_time)
# Formato de 12 horas
print(my_time.strftime("%I:%M %p"))

15:33:08
15:33:08-07:00
03:33 PM

In [26]:
my_date = date(2024, 7, 22)
# Datetime object
my_bday = datetime.combine(my_date, my_time)
print(my_bday)

2024-07-19 15:33:08-07:00